{% extends 'shop/basic.html' %}

{% block title%} About us {% endblock %}
{% block body%}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awsome Cart</h1>
      <p> MyAwsomeCart.com, is an Indian technology project based in Gaziabad, India. It was founded by Anushruti in 2020. My Awsome Cart focuses on e-commerce and have all national and international products in it. It has been referred to as "one of the most influential economic and cultural forces in the India" as well as the Indias's most valuable brand.</p>
        <p>This is a platform for all the "Atam Nirbhr Bharat" to sell there products through online system  The main motto was to improve the selling of indian goods among the citizens of India.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Founder</h2>
        <p>Anushruti , the Btech 3rd year student while working on a project striked a Idea of let's India have it's own E-Comm site only for the Indian goods.... </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Make Money With Us</h2>
        <p> Sell on My Awsome Cart<br>
            Sell on My Awsome Cart Business<br>
            Sell Your Apps on My Awsome Cart <br>
            Become an Affiliate<br>
            Advertise Your Products<br>
           Self-Publish with Us<br>
           Host an My Awsome Cart Hub<br></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>My Awsome Cart Payment Products</h2>
        <p>My Awsome Cart Business Card<br>
           Shop with Points<br>
           Reload Your Balance<br></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock %}

